{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'habit_tracker/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'habit_tracker/css/owl.carousel.min.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'habit_tracker/css/bootstrap.min.css' %}">
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'habit_tracker/css/style.css' %}">
</head>
<body>
<header id="nav-wrapper">
    <nav id="nav">
        <div class="nav left">
            <a href="{% url 'index' %}" class="nav-link">
                <span class="nav-link-span">
                    <span class="u-nav">bee-better</span>
                </span>
            </a>
        </div>
        <div class="nav right">
            <a href="{% url 'login' %}" class="nav-link">
                <span class="nav-link-span">
                    <span class="u-nav">Login</span>
                </span>
            </a>
            <a href="{% url 'signup' %}" class="nav-link">
                <span class="nav-link-span">
                    <span class="u-nav">Sign Up</span>
                </span>
            </a>
        </div>
    </nav>
</header>
{% block content %}{% endblock %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
