{% extends "habit_tracker/base.html" %}
{% block content %}
{% load custom_filters %}
<h1 class="text-center">Your habits history</h1>
<a href="{% url 'index' %}">Come back to main page</a>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="panel panel-default col-sm-auto">
            <form method="POST">
                {% csrf_token %}
                <table class="table table-dark table-responsive table-bordered caption text-dark">
                    <thead>
                    <tr>
                        {% for column_name in column_names %}
                        <th scope="col" class="text-light"> {{ column_name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in rows %}
                    <tr>
                        {% for column_value in row %}
                            {% if forloop.counter > 1 and forloop.counter < 9 %}
                                {% if column_value == True %}
                                    <td id="{{forloop.counter}}-{{forloop.parentloop.counter}}" onclick="changeColor(this)"></td>
                                {% else %}
                                    <td id="{{forloop.counter}}-{{forloop.parentloop.counter}}" onclick="changeColor(this)"></td>
                                {% endif %}

                            {% else %}
                                <td class="text-light"> {{ column_value }}</td>
                            {% endif %}

                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-blue">Save</button>
                <script>
                    function changeColor(elem) {
                        var green="rgb(189, 233, 186)";
                        var red="rgb(245, 124, 103)";
                        if ( elem.style.backgroundColor === green) {
                            elem.style.backgroundColor = red;
                        } else {
                            elem.style.backgroundColor = green;
                        }
                    }
                </script>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
