{% extends "habit_tracker/base.html" %}
{% block content %}
{% load custom_filters %}
<h1 class="text-center">Your habits history</h1>
<a href="{% url 'index' %}">Come back to main page</a>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="panel panel-default col-sm-auto">
            <table class="table table-dark table-responsive table-bordered caption text-dark">
                <thead>
                    <tr>
                        {% for column_name in column_names %}
                            <th scope="col" class="text-light"> {{ column_name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    {% with header=column_names %}
                    {% with row_number=forloop.counter %}
                    <tr>
                        {% for column_value in row %}
                            {% with column_number=forloop.counter %}
                                {% if column_number > 1 and column_number < 9 %}
                                    <td id="{{ row_number }}-{{ column_number }}" onclick="updateColor(this)"></td>
                                {% else %}
                                    <td id="{{ row_number }}-{{ column_number }}" class="text-light"> {{ column_value }} </td>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </tr>
                    {% endwith %}
                    {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script>
                function ajaxCall(element_id, habitDone) {
                    var token = '{{csrf_token}}';
                    $.ajax({
                        headers: { "X-CSRFToken": token },
                        type: 'POST',
                        url: "{% url 'update_habit' %}",
                        data: {element_id, habitDone},
                        error: function() {
                            alert("Something went wrong");
                        },
                    });
                }

                function updateColor(elem) {
                    var green="rgb(189, 233, 186)";
                    var red="rgb(245, 124, 103)";

                    if ( elem.style.backgroundColor === green) {
                        elem.style.backgroundColor = red;
                        habitDone = "False";
                    } else {
                        elem.style.backgroundColor = green;
                        habitDone = "True";
                    };

                    ajaxCall(elem.id, habitDone);
                }
            </script>
        </div>
    </div>
</div>
{% endblock content %}
